/* 기존 CSS */
#root {
  background-color: lightgray;
}

/* 메뉴 */
.nav {
  /* nav 하위 요소들 가운데 정렬하기 위해 flex로 설정 */
  display: flex;
  align-items: center; /* 수직 가운데 정렬을 위해 추가 */
  justify-content: space-between;
  padding-left: 50px;
  height: 70px;
}

/* 강김홍차 로고 */
.nav h2 {
  font-size: xx-large;
  font-weight: 600;
  margin-right: auto;
  color: black;
  text-decoration: none;
  text-align: center;
  margin-top: 45px;
}

.nav h2 a {
  color: inherit;
  text-decoration: none;
}

/* 메뉴 항목 스타일 */

.navMenu {
  display: flex;
  /* 가로로 일렬로 배치 */
  flex-direction: row;
  justify-content: center;
  /* 남은 공간 전체적으로 사용하도록 설정 */
  flex-grow: 1;
  margin-top: 20px;
}

.navMenu a {
  margin: 0 50px; /* 좌우 여백을 줄임 */
  color: inherit;
  text-decoration: none;
}

/* 로그인 */
.navLogin {
  margin-right: 50px;
  margin-top: 20px;
}

.navLogin a {
  color: blue;
  text-decoration: none;
}

/* 로그인 폼 */
.loginform {
  display: flex;
  /* 세로로 일렬로 배치 */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
}

.loginform {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  height: 100vh;
  background-color: white;
  text-align: center; /* 이 줄을 추가 */
}


.loginform div {
  margin-bottom: 20px; /* 각 입력란과 버튼 사이의 간격 조절 */
}

.loginform label {
  display: none; /* label을 숨김 처리 */
}

.loginform input {
  padding: 10px 100px;
}

.loginform input::placeholder {
  text-align: center;
  padding-left: 10px;
}

/* 로그인 폼 감싸고 있는 박스 */
.box {
  display: flex;
  flex-direction: column;
  align-items: center; /* 수평 중앙 정렬 */
  justify-content: center;
  height: 400px;
  width: 600px;
  background-color: #262626;
  padding: 20px;
  border-radius: 10px;
}

.box input[type="text"],
.box input[type="email"],
.box input[type="password"] {
  width: 100%; /* Responsive width */
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px;
  background-color: #fff; /* 입력란 배경색을 흰색으로 설정 */
  color: #000; /* 입력란 텍스트 색상을 검은색으로 설정 */
}

.box h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: white;
  text-align: center;
  margin-left: 20px;
}


.box div {
  margin-bottom: 20px;
}

/* 로그인 버튼 */
.login-button {
  width: 365px;
  height: 40px;
  background-color: #296cf2;
  color: white;
  border: none;
  outline: none;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 10px;
}

/* 회원가입 링크 */
.sign-up a {
  color: white;
  text-decoration: none;
  font-size: 10px;
}

/* 메뉴바 하단 div */
.backGround {
  background-color: white;
}

/* 회원가입 */
.signUpMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px; /* div 박스의 너비를 설정 */
  height: 600px; /* div 박스의 높이를 설정 */
  margin: 20px auto 0; /* 페이지 중앙에 배치 */
  background-color: #000; /* 배경색을 검은색으로 설정 */
  color: #fff; /* 텍스트 색상을 흰색으로 설정 */
  padding: 10px; /* 내부 여백을 설정 */
  border-radius: 10px; /* 모서리를 둥글게 설정 */
}


.signUpMain h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.signUpMain p {
  margin-bottom: 20px;
}

.signUpMain input[type="text"],
.signUpMain input[type="email"],
.signUpMain input[type="password"] {
  width: 80%; /* Responsive width */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px;
  background-color: #fff; /* 입력란 배경색을 흰색으로 설정 */
  color: #000; /* 입력란 텍스트 색상을 검은색으로 설정 */
}

.signUpMain button {
  width: 80%;
  padding: 10px;
  background-color: #296cf2; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
